@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Jua', 'Noto Sans KR';
  color: #383838;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.con {
  width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.img-box>img {
  width: 100%;
  display: block;
}

/*--------------  section-1  --------------*/
.seoul-bg,
.busan-bg {
  display: none;
  top: 0;
  left: 0;
  z-index: -1;
}

.seoul-bg.active,
.busan-bg.active {
  display: block;
}

.top-bar {
  position: absolute;
  height: 130px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.top-bar .logo-box {
  background-color: #fff;
  width: 260px;
  height: 120px;
  border-radius: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.top-bar .logo-box>a {
  margin-left: 20px;
}

.button-box>a {
  margin-top: 15px;
  font-size: 14px;
  padding: 2px 22px;
  border-radius: 15px;
}

.btn-busan,
.btn-seoul {
  background-color: #EEEEEE;
  color: #B0B0B0;
  margin-left: 6px;
}

.btn-busan.active,
.btn-seoul.active {
  background-color: #FFA800;
  color: white;
}

.btn-busan:hover,
.btn-seoul:hover {
  background-color: #FFA800;
  color: white;
}

.top-bar>nav>ul>li>a {
  width: 200px;
  justify-content: center;
  position: relative;
  font-size: 20px;
}

.top-bar>nav>ul ul {
  display: none;
  position: absolute;
  margin-top: -10px;
  margin-left: 60px;
  width: 215px;
  height: 243px;
  background-image: url(images/malpungsun.png);
  padding-top: 28px;
}

.top-bar>nav>ul>li:last-child>ul>li:last-child {
  margin-left: 28px;
  width: 160px;
}

.top-bar>nav>ul>li:hover>ul {
  display: block;
}

.top-bar>nav>ul ul>li>a {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 40px;
  align-items: center;
}

.top-bar>nav>ul li:hover>a {
  color: #FFA800;
}

.cloud {
  left: -150px;
  animation: dungdung1 3s none infinite alternate;
}

.balloon {
  left: 350px;
  animation: dungdung2 2s none infinite alternate;
}

@keyframes dungdung1 {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

@keyframes dungdung2 {
  0% {
    top: 400px;
  }

  100% {
    top: 365px;
  }
}

.girl {
  left: 46%;
  transform: translateX(50%);
  animation: jump 1s none infinite alternate;
}

@keyframes jump {
  0% {
    transform: scale(1.1);
    top: 55%;
  }

  100% {
    transform: scale(1);
    top: 59%;
  }
}

.shadow1,
.shadow2 {
  left: 36%;
  top: 67%;
  animation: scale 1s none infinite alternate;
}

@keyframes scale {
  0% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.crab1 {
  left: 470px;
  top: 753px;
  display: block;
  animation: crab2 3s none infinite alternate;
}

.crab2 {
  right: 175px;
  top: 806px;
  display: block;
  animation: crab1 3s none infinite alternate;
}

@keyframes crab1 {
  0% {
    margin-right: 0;
  }

  100% {
    margin-right: 100px;
  }
}

@keyframes crab2 {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 100px;
  }
}

.dolphin {
  left: 188px;
  top: 343px;
  animation: dolphin 2s none infinite alternate;
}

@keyframes dolphin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}

.ball {
  left: 600px;
  animation: ball 2s none infinite alternate;
}

@keyframes ball {
  0% {
    top: 454px;
  }

  100% {
    top: 434px;
  }
}

.turtle {
  right: 691px;
  top: 498px;
  animation: crab1 10s 1s none infinite alternate;
}

.ship {
  top: 350px;
  animation: ship 6s none infinite alternate;
}

@keyframes ship {
  0% {
    right: 370px;
  }

  100% {
    right: 450px;
  }
}

.gull1 {
  animation: gull1 3s none infinite alternate;
}

@keyframes gull1 {
  0% {
    left: 250px;
    top: 150px;
    transform: rotate(0) scale(0.5);
  }

  100% {
    left: 320px;
    top: 221px;
    transform: rotate(-20deg) scale(1);
  }
}

.gull2 {
  right: 311px;
  top: 267px;
  animation: gull2 3s none infinite alternate;
}

@keyframes gull2 {
  0% {
    right: 250px;
    top: 150px;
    transform: rotate(0) scale(0.5);
  }

  100% {
    right: 280px;
    top: 200px;
    transform: rotate(10deg) scale(0.9);
  }
}

/*--------------  section-2  --------------*/
.busan-bg,
.seoul-bg {
  background-color: #EAF3FB;
}

.section-2 {
  background-color: #EAF3FB;
}

.section2-bg {
  background-image: url(images/section2-bg.png);
  background-size: 1920px;
  height: 1072px;
}

.section-3 {
  background-color: #EAF3FB;
}

.section3-bg {
  background-image: url(images/section3-bg.png);
  background-size: 1920px;
  height: 1476px;
}

.section2-item {

  left: 0;
  animation: dungdung1 3s none infinite alternate;
}

.animals {
  width: 1400px;
  justify-content: space-between;
  align-items: flex-end;
  animation: dungdung3 2s none infinite alternate;
}

@keyframes dungdung3 {
  0% {
    height: 870px;
  }

  100% {
    height: 920px;
  }
}

/*--------------  section-3  --------------*/

.section3-slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 1350px;
}

.section3-slide .swiper-container {
  background-image: url(images/section3-slidebg.png);
  width: 1045px;
  height: 656px;
}

.section3-slide .swiper-wrapper {
  width: 1045px;
}

.section3-slide .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.btn-go {
  background: #FFE14E;
  padding: 9px 50px;
  border-radius: 25px;
  font-family: 'Jua';
  font-size: 23px;
  font-weight: bold;
  margin-top: 30px;
  letter-spacing: 0.1em;
}

.btn-go:hover,
.btn-searh:hover {
  background: #FFA800;
  color: white;
}

.btn-prev1-1,
.btn-next1-1 {
  bottom: 380px;
  left: 320px;
}

.btn-next1-1 {
  left: auto;
  right: 320px;
}

.btn-prev1-1:hover,
.btn-next1-1:hover {
  bottom: 385px;
  filter: drop-shadow(10px 10px 5px #FFBD9B);
}

.slideitem {
  right: 320px;
  top: 640px;
  animation: rotate1 1s none infinite alternate linear;
}

@keyframes rotate1 {
  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

/*--------------  section-4  --------------*/
.section4-bg {
  background-image: url(images/section4-bg.png);
  background-size: 1920px;
  height: 1384px;
}

.section4-content {
  height: 730px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section4-content>div {
  width: 833px;
  height: 239px;
}

.section4-content span:first-child {
  font-size: 35px;
  font-family: 'Jua';
  color: black;
}

.section4-content span:nth-child(2) {
  margin-top: -30px;
}

.section4-content span:nth-child(3) {
  font-size: 22px;
  color: black;
  font-weight: bold;
  margin-top: -10px;
}

.targetage,
.targettendency {
  width: 325px;
  height: 45px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: bold;
  position: relative;
}

.targetage::after,
.targettendency::after {
  content: "";
  margin-left: auto;
  margin-right: 20px;
  display: block;
  width: 20px;
  height: 10px;
  background-image: url(images/icon-select.png);
  background-size: 20px 10px;
  opacity: 0.7;
}

.targetage>ul,
.targettendency>ul {
  display: none;
  z-index: 2;
  position: absolute;
  top: 100%;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 5px;
  border-radius: 20px;
}

.targetage>ul>li,
.targettendency>ul>li {
  padding: 10px;
  padding-left: 20px;
  font-family: 'Noto Sans KR';
}

.targetage>ul>li:hover,
.targettendency>ul>li:hover {
  background-color: #EEEEEE;
  ;
}

.btn-searh {
  background-color: #FFE14E;
  font-family: 'Jua';
  font-size: 20px;
  padding: 4px 40px;
  padding-top: 10px;
  border-radius: 20px;
}

.section4-slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 540px;
}

.section4-slide .swiper-container {
  width: 1317px;
}

.section4-slide .swiper-slide {
  height: 441px;
}

.section4-slide .swiper-slide>img:nth-child(2) {
  top: 0;
  opacity: 0;
  transition: opacity .5s;
}

.section4-slide .swiper-slide:hover>img:nth-child(2) {
  opacity: 1;
}

.btn-prev1-2,
.btn-next1-2 {
  bottom: 300px;
  left: 200px;
}

.btn-next1-2 {
  left: auto;
  right: 200px;
}

.btn-prev1-2:hover,
.btn-next1-2:hover {
  bottom: 305px;
  filter: drop-shadow(10px 10px 5px #FF6868);
}

/*--------------  section-5  --------------*/
.section5-bg {
  background-image: url(images/section5-bg.png);
  background-size: 1920px;
  height: 1725px;
}

.star {
  left: 120px;
  animation: star 1s none infinite alternate linear;
}

@keyframes star {
  0% {
    top: 0;
    opacity: 0;
  }

  100% {
    top: 10px;
    opacity: 1;
  }
}

.bus {
  animation: bus 6s none infinite linear;
}

@keyframes bus {
  0% {
    right: -170px;
    bottom: 750px;
    transform:rotate(0deg);
  }

  15% {
    right: 250px;
    bottom: 1090px;
    transform:rotate(-20deg);
  }

  30% {
    right: 550px;
    bottom: 1180px;
    transform:rotate(-40deg);
  }

  45% {
    right: 900px;
    bottom: 1200px;
    transform:rotate(-60deg);
  }

  60% {
    right: 1200px;
    bottom: 1130px;
    transform:rotate(-70deg);
  }

  80% {
    right: 1600px;
    bottom: 900px;
    transform:rotate(-95deg);
  }

  100% {
    right: 1850px;
    bottom: 600px;
    transform:rotate(-100deg);
  }
}

/*--------------  section-6  --------------*/
.section6-bg {
  background-image: url(images/section6-bg.png);
  background-size: 1920px;
  height: 1976px;
}

.section6-item {
  top: 252px;
  left:-100px;
  animation: dungdung2 1s none infinite alternate;
}

.section6-slide1 {
  height: 1000px;
  display: flex;
  align-items: flex-end;
}

.section6-slide1 .swiper-container {
  width: 1210px;
 padding-left: 18px; 
}

.btn-prev2-1,
.btn-next2-1 {
  top: 40%;
  left:290px;
}

.btn-next2-1 {
  left:auto;
  right:290px;
}

.btn-prev2-1:hover,
.btn-next2-1:hover {
  top: 39.8%; 
  filter: drop-shadow(10px 10px 5px #060832);
}

.section6-slide2 {
  height: 859px;
  display: flex;
  align-items: flex-end;
}

.section6-slide2 .swiper-container {
  width: 1210px;
 padding-left: 20px;
}

.btn-prev2-2,
.btn-next2-2 {
  top: 83%;
  left:290px;
}

.btn-next2-2 {
  left:auto;
  right:290px;
}

.btn-prev2-2:hover,
.btn-next2-2:hover {
  top: 82.8%; 
  filter: drop-shadow(10px 10px 5px #060832);
}

.swiper-slide:hover > img {
  transform:scale(0.96); 
}

/*--------------  section-7  --------------*/
.section7-bg {
  background-image: url(images/section7-bg.png);
  background-size: 1920px;
  height: 917px;
}