@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Jua';
  color: #383838;
}

a {
  color: inherit;
  text-decoration: none;
}

.con {
  width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.img-box>img {
  width: 100%;
  display: block;
}

/*--------------  section-1  --------------*/
.seoul-bg,
.busan-bg {
  display: none;
  top: 0;
  left: 0;
  z-index: -1;
}

.seoul-bg.active,
.busan-bg.active {
  display: block;
}

.top-bar {
  position: fixed;
  height: 130px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.top-bar .logo-box {
  background-color: #fff;
  width: 260px;
  height: 120px;
  border-radius: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.top-bar .logo-box>a {
  margin-left: 20px;
}

.button-box>a {
  margin-top: 15px;
  font-size: 14px;
  padding: 2px 22px;
  border-radius: 15px;
}

.btn-busan,
.btn-seoul {
  background-color: #EEEEEE;
  color: #B0B0B0;
  margin-left: 6px;
}

.btn-busan.active,
.btn-seoul.active {
  background-color: #FFA800;
  color: white;
}

.btn-busan:hover,
.btn-seoul:hover {
  background-color: #FFA800;
  color: white;
}

.top-bar>nav>ul>li>a {
  width: 200px;
  justify-content: center;
  position: relative;
  font-size: 20px;
}

.top-bar>nav>ul ul {
  display: none;
  position: absolute;
  margin-top: -10px;
  margin-left: 60px;
  width: 215px;
  height: 243px;
  background-image: url(images/malpungsun.png);
  padding-top: 28px;
}

.top-bar>nav>ul>li:last-child>ul>li:last-child {
  margin-left: 28px;
  width: 160px;
}

.top-bar>nav>ul>li:hover>ul {
  display: block;
}

.top-bar>nav>ul ul>li>a {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 40px;
  align-items: center;
}

.top-bar>nav>ul li:hover>a {
  color: #FFA800;
}

.cloud {
  left: -150px;
  animation: dungdung1 3s none infinite alternate;
}

.balloon {
  left: 350px;
  animation: dungdung2 2s none infinite alternate;
}

@keyframes dungdung1 {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

@keyframes dungdung2 {
  0% {
    top: 400px;
  }

  100% {
    top: 365px;
  }
}

.girl {
  left: 46%;
  transform: translateX(50%);
  animation: jump 1s none infinite alternate;
}

@keyframes jump {
  0% {
    transform: scale(1.1);
    top: 55%;
  }

  100% {
    transform: scale(1);
    top: 59%;
  }
}

.shadow1,
.shadow2 {
  left: 36%;
  top: 67%;
  animation: scale 1s none infinite alternate;
}

@keyframes scale {
  0% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.crab1 {
  left: 470px;
  top: 753px;
  display: block;
  animation: crab2 3s none infinite alternate;
}

.crab2 {
  right: 175px;
  top: 806px;
  display: block;
  animation: crab1 3s none infinite alternate;
}

@keyframes crab1 {
  0% {
    margin-right: 0;
  }

  100% {
    margin-right: 100px;
  }
}

@keyframes crab2 {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 100px;
  }
}

.dolphin {
  left: 188px;
  top: 343px;
  animation: dolphin 2s none infinite alternate;
}

@keyframes dolphin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}

.ball {
  left: 600px;
  animation: ball 2s none infinite alternate;
}

@keyframes ball {
  0% {
    top: 454px;
  }

  100% {
    top: 434px;
  }
}

.turtle {
  right: 691px;
  top: 498px;
  animation: crab1 10s 1s none infinite alternate;
}

.ship {
  top: 350px;
  animation: ship 6s none infinite alternate;
}

@keyframes ship {
  0% {
    right: 370px;
  }

  100% {
    right: 450px;
  }
}

.gull1 {
  animation: gull1 3s none infinite alternate;
}

@keyframes gull1 {
  0% {
    left: 250px;
    top: 150px;
    transform: rotate(0) scale(0.5);
  }

  100% {
    left: 320px;
    top: 221px;
    transform: rotate(-20deg) scale(1);
  }
}

.gull2 {
  right: 311px;
  top: 267px;
  animation: gull2 3s none infinite alternate;
}

@keyframes gull2 {
  0% {
    right: 250px;
    top: 150px;
    transform: rotate(0) scale(0.5);
  }

  100% {
    right: 280px;
    top: 200px;
    transform: rotate(10deg) scale(0.9);
  }
}

/*--------------  section-2  --------------*/
.busan-bg,
.seoul-bg {
  background-color: #EAF3FB;
}

.section-2 {
  background-color: #EAF3FB;
}

.section2-bg {
  background-image: url(images/page2-bg.png);
  background-size: 1920px;
  height: 1072px;
}

.section-3 {
  background-color: #EAF3FB;
}

.section3-bg {
  background-image: url(images/page3-bg.png);
  background-size: 1920px;
  height: 1476px;
}

.page2-item {

  left: 0;
  animation: dungdung1 3s none infinite alternate;
}

.animals {
  width: 1400px;
  justify-content: space-between;
  align-items: flex-end;
  animation: dungdung3 2s none infinite alternate;
}

@keyframes dungdung3 {
  0% {
    height: 870px;
  }

  100% {
    height: 920px;
  }
}

/*--------------  section-3  --------------*/

.section3-slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 1350px;
  margin-left: 84px;
}

.section3-slide .swiper-container {
  background-image: url(images/section3-slidebg.png);
  width: 1215px;
  height: 732px;
}

.section3-slide .swiper-wrapper {
  width: 1000px;
  display: flex;
  margin-left: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.section3-slide .swiper-slide {
  width: 600px;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:3px solid red;
}

.btn-go {
  margin-top: 30px;
  background: #FFE14E;
  padding: 9px 50px;
  border-radius: 25px;
  font-family: 'Jua';
  font-size: 21px;
}





/*--------------  section-4  --------------*/